html, body{
	height: 100%;
}
body{
	margin: 0;
	background-color: #333;
	overflow: hidden;
	font-size: 12px;
	color: #eee;
}
*{
	box-sizing: border-box;
}
h1, h2, h3, p{
	margin: 0;
}
a, a:visited{
	color: #00b5ee;
	text-decoration: none;
}
a:hover{
	color: #90dbee;
}
#stage{
	height: 100%;
	position: relative;
	top: 0;
	overflow: hidden;
	background: url("../images/blue_gray_wallpaper.jpg") center center;
	background-size: cover;
}
h1{
	font-size: 40px;
	font-weight: 100;
	color: rgba(248, 233, 210, 0.6);
	text-align: center;
	padding-top: 10px;
}
#stage .item{
	width: 250px;
	height: 50px;
	background-color: rgba(238, 238, 238, 0.9);
	border-radius: 5px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: default;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	transition: box-shadow 0.5s;
	padding: 3px;
}
#stage .item:active, #stage .item:hover{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.6);
	transition: box-shadow 0.2s;
	background-color: rgba(238, 238, 238, 1);
}


#stage .item > .thumb{
	width: 44px;
	height: 44px;
	background-color: #777777;
	border-radius: 3px;
	float: left;
	overflow: hidden;
}
#stage .item > .thumb > img{
	width: 100%;
}
.item > h3 {
	float: right;
	width: 195px;
	height: 28px;
	line-height: 15px;
	font-size: 12px;
	font-weight: 100;
	color: #777777;
	letter-spacing: -0.05em;
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.item > .tags{
	float: right;
	width: 195px;
	height: 15px;
	padding: 0;
	line-height: 12px;
	overflow: hidden;
}
.item > .tags > span{
	color: #eee;
	background-color: #92aab4;
	border-radius: 2px;
	padding: 0 5px 2px 5px;
	font-size: 10px;
	margin-right: 2px;
	white-space: nowrap;
	cursor: pointer;
}
.item > .tags > span.on{
	background-color: #1f86b7;
}
.item > .tags > span:hover,
.item > .tags > span:active{
	color: #eee;
	background-color: #333c40;
}
.zoom-window{
	border: 2px solid #888;
	border-radius: 5px;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 0;
	z-index: 999;
	display: none;
}
.descriptions{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #263238;
	display: none;
	overflow-y: auto;
}
.descriptions .description-header{
	position: fixed;
	width: 100%;
	background-color: rgba(0, 20, 29, 0.9);
	top: 0;
	padding: 20px 20px 5px 20px;
}
.descriptions .close-button{
	position: fixed;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.descriptions .close-button > span{
	display: block;
	position: absolute;
	top: 14px;
	background-color: #c6a593;
	border-radius: 10px;
	width: 30px;
	height: 2px;
}
.descriptions .close-button > span:first-child{
	transform: rotate(45deg);
}
.descriptions .close-button > span:last-child{
	transform: rotate(-45deg);
}
.descriptions h2{
	color: #e2a66e;
	font-weight: 100;
	font-size: 25px;
	padding: 0 20px 15px 40px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #aaa;
}
.descriptions .tags{
	margin-top: 5px;
	float: left;
}
.descriptions .tags > span{
	color: #eed4c5;
	/*background-color: #454545;*/
	padding: 5px 10px 7px 10px;
	font-size: 12px;
	white-space: nowrap;
	display: inline-block;
}
.descriptions .tags > span.on{
	background-color: #1f86b7;
}
.descriptions .info{
	float: right;
	text-align: right;
	margin-top: 5px;
}
.descriptions .info > .term{
	color: #9cddee;
}
.descriptions .info > .client > a{
	background-color: #465358;
	border-radius: 2px;
	padding: 0 10px;
}
.descriptions > .detail{
	margin: 20px;
	padding-top: 100px;
}
.descriptions > .detail > .text{
	font-size: 14px;
	line-height: 1.8em;
	color: #eeeeee;
	margin-bottom: 10px;
}
.descriptions > .detail > .urls{
	margin-bottom: 20px;
}
.descriptions > .detail > .urls > a{
	display: inline-block;
	background-color: #3a4b67;
	padding: 0 10px;
	border-radius: 2px;
	margin-right: 5px;
}
.descriptions > .detail > .image-tile{
	column-count: 3;
	column-width: 300px;
	column-gap:  20px;
}
.descriptions > .detail > .image-tile > figure{
	color: #eeeeee;
	display: inline-block;
	margin: 0 0 20px 0;
}
.descriptions > .detail > .image-tile > figure > img{
	max-width: 100%;
	border-radius: 4px;
}
.descriptions > .detail > .image-tile > figure > figcaption{

}